/* BaristaForm.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.drink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.mini-header {
  font-size: 1.5em;
  color: #774936;
}

.button {
  background-color: #e3b23c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #d19a2d;
}

.newdrink {
  background-color: #8db596;
}

.newdrink:hover {
  background-color: #7ba585;
}

.answer-space {
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px 0;
  background-color: #e5c29f;
  border-radius: 5px;
  color: #774936;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.correct {
  background-color: lightgreen;
  color: #333;
}

.wrong {
  background-color: lightcoral;
  color: #fff;
}

.mini-container {
  background-color: #f5f1e3;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.mini-container {
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
}
